.header__container {
  background-color: var(--secondary);
  padding: 1.5rem;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
}

.header__items {
  align-items: center;
  display: flex;
  gap: 2rem;
  z-index: 1;
}

.header__items > li, .header__items > a {
  background-color: var(--secondary);
  color: var(--text);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all ease-in 0.3s;
}

.header__items > li:hover, .header__items > a:hover {
  background-color: var(--secondary-light);
  border-radius: 8px;
}