* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

li, a, button {
  border: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary: #ff4655;
  --secondary: #111111;
  --secondary-light: #4b4949;
  --text: #F9F9F9;

  background-color: #ece8e1;
  font-family: 'Poppins', 'Times New Roman', Times, serif ,sans-serif;
}

