.abilities__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.abilities__container {
  display: flex;
  margin: 4rem 0rem 2rem;

}


.abilities__button {
  background: linear-gradient(to left, var(--secondary-light) 50%, var(--secondary) 50%) right;
  border-radius: 2rem;
  margin-left: 2%;
  cursor: pointer;
  padding: 0.8rem;
  border: 4px solid var(--secondary);
  transition: ease-in 0.3s;
  background-size: 200%;
}

.abilities__button:hover {
  border-color: var(--primary);
  background-position: left;
}

.oi {
  background-color: var(--secondary) !important;
  background-position: left;
  z-index: 1;
}